<h1>Welcome <%=@user.username%></h1>

  
    <p>Full  Name:  <%=@user.fullname%> </p> 
    <p>Address: <%=@user.address%></p>
    <p>State: <%=@user.state%></p>
    <p>Email: <%=@user.email%></p>
    <p>Dob: <%=@user.dob%></p>
    
<% if Helper.is_admin?(session) %>
<a class="btn" href="/admin">Admin's Page</a><br>

<%else%>

<a class="btn" href="/appointments">Appointments</a><br>
<%end%>
 <a  class="btn" href="/logout">Log out</a>  