<h3>Welcome, <%=Helper.current_user(session).username%></h3>


<%if flash[:message] %>
 <span> <%= flash[:message] %></span>
<% end %>

   <p>Name: <%=Helper.current_user(session).fullname%></p>
   <p>Address: <%=Helper.current_user(session).address%></p>
   <p>State: <%=Helper.current_user(session).state%></p>
   <p>DOB: <%=Helper.current_user(session).dob%></p>
   <p>Email: <%=Helper.current_user(session).email%></p>
   <a href="/users/<%=Helper.current_user(session).id%>/edit" class="btn">Edit my information</a>
   <hr>
  <h3>Your appointments</h3>
  <div class="wrap">
   
        <%@appointments.each do |a|%>
             
             <div class="column">

              <p>Date: <%=a.date%> Hour:  <%=a.time.strftime("%I:%M %p")%></p>
              <p>Dose:  <%=a.dose%></p>
              <p>Location</p>
              <p><%=a.location.name%></p>
              <p><%=a.location.address%></p>
              <a href="/appointments/<%=a.id%>/edit" class="btn">Edit appointment</a><br>
              <form action="/appointments/<%=a.id%>" method="post">
                <input type="hidden" id="hidden" name="_method" value="delete">
                <input type="submit" value="Cancel appointment">
              </form>
                <hr>

             </div>   
        <%end%>

</div>

<a href="/appointments/new" class="btn">New appointment</a><br>
<% if Helper.is_admin?(session) %>
<a href="/admin" class="btn" >Admin's Page</a><br>
<%end%>
<a class="btn" href="/logout">Log out</a>

