
<h3>Appointment</h3>

<p>Date: <%=@appointment.date%></p>
<p>Hour:  <%=@appointment.time%></p>
<p>Dose:  <%=@appointment.dose%></p>
<p>Location</p>

<p><%=@appointment.location.name%></p>
<p><%=@appointment.location.address%></p>

<% if Helper.is_admin?(session) %>
<a class="btn" href="/admin">Admin's Page</a><br>

<%else%>

<a  class="btn" href="/appointments">Appointments</a><br>
<%end%>
 <a class="btn" href="/logout">Log out</a>  
<br>
<%if flash[:message] %>
 <span>  <%= flash[:message] %></span> 
<% end %>